*.durian.party {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }
    
    @jellyfin host jelly.durian.party
    handle @jellyfin {
        reverse_proxy 192.168.1.25:8096
    }

    @jellyseerr host fin.durian.party
    handle @jellyseerr {
        reverse_proxy 192.168.1.25:5055
    }

    @adguard host ad.durian.party
    handle @adguard {
    	reverse_proxy 192.168.1.23
    }
    
    @proxmox host prox.durian.party
    handle @proxmox {
        reverse_proxy 192.168.1.20:8006 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @unraid host unraid.durian.party
    handle @unraid {
        reverse_proxy 192.168.1.21
    }

    @sonarr host son.durian.party
    handle @sonarr {
        reverse_proxy 192.168.1.25:8989
    }

    @radarr host rad.durian.party
    handle @radarr {
        reverse_proxy 192.168.1.25:7878
    }

    @prowlarr host prowl.durian.party
    handle @prowlarr {
        reverse_proxy 192.168.1.25:9696
    }

    @sabnzbd host sab.durian.party
    handle @sabnzbd {
        reverse_proxy 192.168.1.25:8080
    }
}
